footer{
    height: 250px;
    width: 100%;
    background-color: rgb(4, 17, 43);
   
}
.footerflex{
    display: flex;
    justify-content:flex-start;
   margin-top: 50px;
}
.about{
    margin-right: 30px;
    margin-left: 60px;
    margin-top: 20px;
}
.helps{
    margin-right: 30px;
    margin-top: 20px;
}
.policy{
    margin-right: 30px;
  
    margin-top: 20px;
}
.social{
    margin-top: 20px;
    margin-right: 200px;
}
.mail, .office{
    margin-top: 20px;
}
h3{
    font-size: 13px;
    color: grey;
}
p{
    font-size: 14px;
    color: rgb(224, 224, 14);
    cursor: pointer;
}
